*{
    font-family: arial;  
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.menu{
    cursor: pointer;
    margin-left: 39%;
    margin-top: 1%;
}
.bm1, .bm2, .bm3{
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: rgb(247, 246, 246);
    transition: 0.4s;
}
.change .bm1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bm2{
    opacity: 0;
}
.change .bm3{
    -webkit-transform: rotate(45deg) translate(-9px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
}
.cont_inf{
    padding-top: 3%;
}
.gr_cont_home{
    height: 86ch;
    width: 100%;
    overflow: hidden;
    margin: 0;
    z-index: 6;
}
.gr_cont_bg{
    height: 900px; 
    width: 100%;
    background-image: url('AinaMe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    margin: 0;
    position: relative;
    z-index: 6;
}
.navBar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-color: rgb(41, 39, 39) ;
    display: flex;
}
.conten_home{
    position: absolute;
    top: 60%;
    left: 25%;
    color: rgb(17, 17, 17);
    line-height: 0.5;
    z-index: 8;
    display: block;
}
.conten_home h2{
    font-size:3rem;
    font-weight:700;
}
.conten_home p{
    color: azure;
    font-size: 2rem;
    font-weight: 400;
    margin-left: -10%;
}
a{
    text-decoration: none;
}
.title_profil{
    width: 30%;
    padding-top: 2%;
    padding-left:2%;
    font-size: 22pt;
    color: brown;
    display: inline-block;
}
.nav_inf{
    color: #ffffff;
}
.logo_rs_tet{
    width: 35px;
    margin-top: -4%;
    float: right;
}
.logo_rs_tet_li{
    width: 60px;
    margin-top: -4%;
    float: right;
}
.conteneur_liste_info{
    display: none;
    width: 1%;
    height: 1px;
    position: absolute;
}
.conteneur_liste_rs{
    visibility: hidden;
}
#conteneur_liste_nav{
    list-style-type: none;
    margin-top: 5%;
    display: block;
}
#conteneur_liste_nav li{
    float: left;
}
#conteneur_liste_nav li a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
#conteneur_liste_nav li a:hover{
    background-color: #111;
    cursor: pointer;
}
.bar_prof_img_nom{
    width: 100%;
    height: 400px;
    background: rgb(121, 122, 122);
    background: linear-gradient(0deg, rgb(13, 18, 18) 0%, rgb(60, 60, 59) 100%, rgb(55, 80, 85) 100%);
   padding-top: 5%;
}
.info_moi{
    display: inline-block;
    margin-left: 4%;
    color: white;
    font-size: 14pt;
    line-height: 1;
    vertical-align: top;
}
.hob_inf{
    color: white;
    margin-top: 2%;
    margin-left: 28%;
    font-size: 14pt;
}
.logo_ispm{
    width: 8%;
    margin-top: 1%;
    margin-left: 8%;
    position: absolute;
}
.hob_inf p{
    padding-left: 23%;
}
.st_inf_me{
    font-weight: 700;
    padding-left: 5pt;
    color: rgb(210, 210, 202);
}
#cont_img_prof{
    margin-top: 1%;
    padding-left: 2%;
    display: inline-block;
}
#img_prof{
    width: 125px;
    height: 150px;
    border-radius: 25px; 
}
#gr_conteneur{
    background-color: #f1f1f1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1% ;    
}
article h2{
    color:  rgb(0, 0, 0);
    display: inline-block;
    margin-left: 1%;
    font-weight: 700;
}
article section .ti_3{
    font-size: 16pt;
    font-weight: 500;
    font-family: serif bold;
}
.ti_3{
    font-weight: bold;
    color: rgba(252, 6, 6, 0.989);
}
.ti_4{
    margin-left: 3%;
    font-size: 16pt;
}
.logo_lg{
    height: 60px;
    margin-left: 10%;
    display: block;
}
.logo_lg_pt{
    height: 60px;
    margin-left: 11%;
    display: block;
}
.logo_lg_pt_out{
    height: 60px;
    margin-left: 12%;
    display: block;
}
.sous_2_section_1{
    justify-content: space-between;
}
.content_1_sous_2_section_1{
    margin-left: 7%;
    width: 90%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}
.conteneur_bloc_art{
    margin-top: 1%;
}
.box_art{
    width: 50%;
    height: 100px;
}
.conte_bar{
    width: 30%;
    height: 20px;
    background-color: azure;
    border-radius: 30px;
    margin-left: 6%;
    margin-top: 0%;
    background-position: 30%;
    position: absolute;
    overflow: hidden;
}
.style_pour_progs{
    position: absolute;
    margin-top:2%;
    margin-left: 50%;
}
.bar_prog_html{
    background-color: rgb(9, 127, 245);
    width: 25%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_css{
    background-color:  rgb(9, 127, 245);
    width: 20%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_pas{
    background-color:  rgb(9, 127, 245);
    width: 15%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_cpp{
    background-color:  rgb(9, 127, 245);
    width: 1%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_ps{
    background-color:  rgb(9, 127, 245);
    width: 15%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_ai{
    background-color:  rgb(9, 127, 245);
    width: 2%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_be{
    background-color: rgb(9, 127, 245);
    width: 5%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_js{
    background-color:  rgb(9, 127, 245);
    width: 2%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.bar_prog_neg{
    background-color:  rgb(9, 127, 245);
    width: 15%;
    height: 20px;
    border-radius: 20px 0px 0px 20px;
}
.nom_lang{
    margin-left: 10%;
    color: white;
    text-transform: uppercase;
    text-size-adjust: 18pt;
    font-family: verdana;
    font-weight: bold;
}
fieldset{
    margin: 2%;
    margin-left: 5%;
    opacity: .9;
    position: relative;
}
.cad_ski1{
    width: 85%;
    height: 1060px;
    background: rgb(0,33,36);
    background: linear-gradient(0deg, rgba(0,33,36,1) 0%, rgba(118,119,95,1) 100%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
#cad_ski2{
    width: 85%;
    height: 200px;
    background-image: url(business.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.conteneur_wk{
    width: 98%;
    height: 450px;
    padding-left: 2%;
    background: rgb(52, 53, 53);
    display: flex;
}
.cont_wk{
    width: 30%;
    height: 380px;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 10px;
    background-color: lightgrey;
}
@media screen and (max-width: 500px) {
    .title_profil{
        width: 40%;
    }
    .navBar{
        height: 50px;
    }
    .menu{
        margin-left: 15%;
    }
    .conten_home{
        visibility: hidden;
    }
    .gr_cont_home{
        height: 86ch;
    }
    .bar_prof_img_nom{
        height: 600px;
    }
    #cont_img_prof{
        padding-left: 28%;
    }
    #img_prof{
        width: 180px;
        height: 160px;
        border-radius: 5px; 
    }
    .logo_ispm{
        width: 10%;
        margin-left: 10%;
    }
    .conteneur_wk{
        display: block;
        height: 940px;
        padding-top: 2%;
    }
    .cont_wk{
        width: 70%;
        height: 300px;
        margin-left: 10%;
    }
}
@media screen and (max-width: 380px) {
    .menu{
        margin-left: 10%;
    }
    .logo_ispm{
        width: 13%;
        margin-left: 13%;
    }
    .info_moi{
        font-size: 10pt;
        line-height: 0.5;
    }
    .st_inf_me{
        font-weight: 700;
        font-size: 12pt;
    }
    .logo_lg_pt_out{
        height: 50px;
    }
    .logo_lg{
        height: 50px;
    }
    .logo_lg_pt{
        height: 50px;
    }
    .cont_wk{
        margin-left: 13%;
    }
    .bar_prof_img_nom{
        height: 500px;
    }
}
@media screen and (max-width: 330px) {
    .menu{
        margin-left: 5%;
    }
    .cont_wk{
        margin-left: 15%;
    }
}